<p><%= @date %> 発足</p>

<% @cabinet.each do |position, name| %>
  <ol>
    <li><%= position %><a href="http://b.hatena.ne.jp/<%= name %>/bookmark"><%= name %><img src="http://cdn1.www.st-hatena.com/users/<%= name[0,2]+ '/' + name %>/profile.gif"></a></li>
  </ol>
<% end %>